<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/moth_180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/moth_32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/moth_16.png">
    <link rel="manifest" href="/static/site.webmanifest">

    <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Lämp</title>
</head>
<body style="background-color: #404040">
<nav class="navbar navbar-expand-lg navbar-light" style="background: #ffb300">
    <a class="navbar-brand" href="/">
        <img src="/static/images/moth_512.png" style="width: 1em;">
        Lämp
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="navbar-nav mr-auto"></div>
        <ul class="navbar-nav">
            <li class="nav-item active">
                {{ if .Username }}
                    <li class="nav-item dropleft">
                        <a class="dropdown-toggle nav-link" href="#" id="menu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ .Username }}
                        </a>
                        <div class="dropdown-menu bg-dark" aria-labelledby="menu">
                            <a class="nav-link text-white" href="/logout">Kilépés</a>
                        </div>
                    </li>
                {{ else }}
                    <a class="nav-link" href="/login">Bejelentkezés</a>
                {{ end }}
            </li>
        </ul>
    </div>
</nav>

<div class="d-flex flex-column flex-sm-column flex-md-column flex-lg-row flex-xl-row">
    {{ range .Lamps }}
        {{ $style := "" }}
        {{ if .Online }}
            {{ if .IsOn }}
                {{ $style = "bg-warning text-dark" }}
            {{ else }}
                {{ $style = "bg-secondary text-white" }}
            {{ end }}
        {{ else }}
            {{ $style = "bg-dark text-white" }}
        {{ end }}
    <a href="/{{ if .IsOn }}off{{ else }}on{{end}}/{{ .Name }}">
        <div class="card {{$style}}" style="margin: 1em">
            <style>
                h3, h5{
                    text-align: center;
                    width: 100%;
                }
            </style>
            <h5 class="card-header">
                {{ .Name }}
            </h5>
            <div class="card-body">
                <h3>
                    {{if .Online}}
                        {{ if .IsOn }}
                            ON
                        {{ else }}
                            OFF
                        {{ end }}
                    {{else}}
                        Lost in space
                    {{end}}
                </h3>


            </div>
        </div>
    </a>

    {{ end }}
</div>

<script src="/static/bootstrap/jquery-3.5.1.slim.min.js"></script>
<script src="/static/bootstrap/popper.min.js"></script>
<script src="/static/bootstrap/bootstrap.min.js"></script>
</body>
</html>